<!DOCTYPE html>

<html>
    <body>
        <h1>Dettagli del prodotto</h1>
            Quantità: <span th:text="${product.quantity}"></span>
            Prezzo: <span th:text="${product.price}"></span>

            <!-- Modifica il prodotto -->
            <form action="/edit" method="get">
                <input type="hidden" name="id" th:value="${product.id}">
                <input type="submit" value="Modifica prodotto">
            </form>

            <!-- Elimina prodotto -->
            <form action="/delete" method="get">
                <input type="hidden" name="id" th:value="${product.id}">
                <input type="submit" value="Elimina prodotto">
            </form>
        <br>
        <br>
    <footer>
        <h4><a href="/">Torna alla homepage</a></h4>
    </footer>
    </body>
</html>