<!DOCTYPE html>

<html>
    <footer><a href="/">Torna alla homepage</a></footer>
    <body>
        <form action="/update" method="post">
            <input type="hidden" name="id" th:value="${car.id}">
            <input type="text" name="marca" th:value="${car.marca}">
            <input type="text" name="targa" th:value="${car.targa}">
            <input type="number" name="velocita_massima" th:value="${car.velocita_massima}">
            <input type="submit">
        </form>
    </body>
</html>