<!DOCTYPE html>

<html>
    <body>
        <h1>Lista delle macchine:</h1>
        <div th:each="car:${cars}">
            <form action="/show" method="get">
            <b>Id:</b> <span th:text="${car.id}">Id</span>
            <b>Marca:</b> <span th:text="${car.marca}">Marca</span>
            <!-- Targa e Vel. Max su show.html -->
            <input type="hidden" name="id" th:value="${car.id}">
            <input type="submit" value="Dettagli">
            </form>
            <form action="/edit" method="get">
                <input type="hidden" name="id" th:value="${car.id}">
                <input type="submit" value="Modifica">
            </form>
            
            <form action="/delete" method="get">
                <input type="hidden" name="id" th:value="${car.id}">
                <input type="submit" value="Elimina">
            </form>
            <br>
        </div>
        <a href="/create">Crea una macchina</a>
    </body>
</html>