<!DOCTYPE HTML>

<html>
    <body>
        <h1>Lista di tutti i corsi</h1>
        <div th:each="course:${courses}">
            <ul>
                <li>
                    <b>Id:</b> <span th:text="${course.id}">Id</span>
                    <b>Nome corso:</b> <span th:text="${course.nome_corso}">Nome</span>
                    
                    <!-- Edit course -->
                    <form action="/edit" method="get">
                        <input type="hidden" name="id" th:value="${course.id}">
                        <input type="submit" value="Modifica corso">
                    </form>

                    <!-- Show details course -->
                    <form action="/show" method="get">
                        <input type="hidden" name="id" th:value="${course.id}">
                        <input type="submit" value="Dettagli">
                    </form>

                    <!-- Delete course -->
                    <form action="/delete" method="get">
                        <input type="hidden" name="id" th:value="${course.id}">
                        <input type="submit" value="Elimina corso">
                    </form>
                </li>
            </ul>
        </div>
        <br>
        <br>
        <!-- Crea corso -->
        <a href="/create">Aggiungi un nuovo corso</a>
        <br>
        <br>

        <footer><a href="/">Torna alla Homepage</a></footer>
    </body>
</html>