<!DOCTYPE html>

<html>
    <body>
        <h1>Aggiungi un nuovo continente</h1>
        
        <form action="/store" method="post">
            <input type="text" name="nome" placeholder="Nome">
            <input type="number" name="abitanti" placeholder="Abitanti">
            <input type="text" name="nazioni" placeholder="Nazioni">
            <input type="submit" value="Aggiungi continente">
        </form>

        <footer>
            <h4><a href="/">Homepage</a></h4>
        </footer>
    </body>
</html>