<!DOCTYPE html>

<html>
    <body>

        <h1>Modifica il continente <span th:text="${continent.nome}"></span></h1>
        
        <form action="/store" method="post" th:object="${continent}">
            <input type="hidden" name="id" th:value="*{id}">
            <input type="text" name="nome" th:value="*{nome}">
            <input type="number" name="abitanti" th:value="*{abitanti}">
            <input type="text" name="nazioni" th:value="*{nazioni}">
            <input type="submit" value="Modifica continente">
        </form>


        <footer>
            <h4><a href="/">Homepage</a></h4>
        </footer>
    </body>
</html>